body{
    box-sizing: border-box;
    background-color: aliceblue;
}

img{
    max-width: 100%;
}

h2{
    flex: 0 1 100%;
    text-align: center;
    font-size: 1.8rem;
}

h3{
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    font-weight: 700;
}

.contenedor{
    max-width: 1100px;
    margin: 0 auto; /*Establece margenes en este caso el primero a lo vertical y el segundo a los horizontales*/
}

@media screen and (min-width: 480px){

    .contenido-principal{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .entrada{
        flex: 0 1 calc(50% - 1rem);
    }

}

@media screen and (min-width: 768px){

    .entrada{
        flex: 0 1 calc(33% - 1rem);
    }

}

.entrada{
    margin-bottom: 1rem;
}

.contenido{
    text-align: center;
    background-color: white;
    padding: 1rem;
    text-transform: uppercase;
}

.contenido span{
    color: violet;
}

.contenido h3{
    font-size: .9rem;
    line-height: 1.4rem;
}

.boton{
    background-color: #008fd1;
    color: white;
    padding: .8rem 3rem;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
}